<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/King_Culinary_Logo-removebg-preview copy.png" type="image/x-icon">
    <title>AdminHub</title>
</head>

<body>

    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">KING CULINARY</span>
        </a>
		<a href="#" class="img-brand">
            <img src="img/King_Culinary_Logo-removebg-preview.png">
        </a>
        <ul class="side-menu top">
            <li>
                <a href="dashboard" class="no-active">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="categories" class="no-active">
                    <i class='bx bxs-book-content'></i>
                    <span class="text">Categories</span>
                </a>
            </li>
            <li>
                <a href="foodRecipe" class="no-active">
                    <i class='bx bxs-food-menu'></i>
                    <span class="text">Food Recipe</span>
                </a>
            </li>
            <li>
                <a href="comment" class="no-active">
                    <i class='bx bxs-comment'></i>
                    <span class="text">Comment</span>
                </a>
            </li>
            <li>
                <a href="user" class="no-active">
                    <i class='bx bxs-user'></i>
                    <span class="text">User</span>
                </a>
            </li>
            <li>
                <a href="resetPassword" class="no-active">
                    <i class='bx bxs-user-circle'></i>
                    <span class="text">Change Password </span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="login" class="logout">
                    <i class='bx bx-log-in'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
	<!-- SIDEBAR -->
    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>
            <div class="hiAdmin">
                <h5>Hi,</h5>
                <h5 class="AdminName">Admin</h5>
            </div>
        </nav>
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Food Recipe</h1>
                    <ul class="breadcrumb">
                        <li>
                            <button type="button" class="add-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Add Categories
                            </button>

                            <!-- Modal add-->
                            <!-- Modal Add -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category Recipe</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="recipe-form">
                                                <!-- <div class="mb-3">
                                                    <label for="category-id" class="form-label">Category ID</label>
                                                    <input type="text" class="form-control" id="category-id" required>
                                                    <div id="category-id-error" class="text-danger"></div>
                                                </div> -->
                                                <div class="mb-3">
                                                    <label for="cat-name" class="form-label">Category Name</label>
                                                    <input type="text" class="form-control" id="cat-name" required>
                                                    <div id="cat-name-error" class="text-danger"></div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="description" class="form-label">Description</label>
                                                    <textarea class="form-control" id="description" rows="3"
                                                        required></textarea>
                                                    <div id="description-error" class="text-danger"></div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button id="submitcategory" type="button" class="btn btn-primary">Save
                                                changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal Edit -->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Category Recipe
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="edit-recipe-form">
                                                
                                                    <!-- <label for="edit-category-id" class="form-label">Category ID</label> -->
                                                    <input type="hidden" class="form-control" id="edit-category-id"
                                                        required readonly>
                                                    <!-- <div id="edit-category-id-error" class="text-danger"></div> -->
                                                
                                                <div class="mb-3">
                                                    <label for="edit-cat-name" class="form-label">Category Name</label>
                                                    <input type="text" class="form-control" id="edit-cat-name" required>
                                                    <div id="edit-cat-name-error" class="text-danger"></div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit-description" class="form-label">Description</label>
                                                    <textarea class="form-control" id="edit-description" rows="3"
                                                        required></textarea>
                                                    <div id="edit-description-error" class="text-danger"></div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button id="savechanges" type="button" class="btn btn-primary">Save
                                                changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Categories</h3>
                        <div class="search-wrapper">
                            <input type="text" id="search-input" placeholder="Search ">
                            <i class='bx bx-search'></i>
                        </div>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Category ID</th>
                                <th>Category Name</th>
                                <th>Description</th>
                                <th>Button</th>
                            </tr>
                        </thead>
                        <tbody id="catTbody">
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
        import { getDatabase, ref, set, get, child, update, remove, onValue } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-database.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
    
        // Your web app's Firebase configuration
        const firebaseConfig = {
            apiKey: "AIzaSyA2fKRX50046RzWGn4vkgxrLudMabAABlA",
            authDomain: "kingculinarydb.firebaseapp.com",
            databaseURL: "https://kingculinarydb-default-rtdb.asia-southeast1.firebasedatabase.app",
            projectId: "kingculinarydb",
            storageBucket: "kingculinarydb.appspot.com",
            messagingSenderId: "1096190427358",
            appId: "1:1096190427358:web:e3a3e53b14d5b4e18f0d14"
        };
    
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const database = getDatabase(app);
    
        let originalCatName = null;
    
        function isCategoryIdExists(catId) {
            let table = document.getElementById("catTbody");
            for (let i = 0; i < table.rows.length; i++) {
                if (table.rows[i].cells[0].innerHTML === catId.toString()) {
                    return true;
                }
            }
            return false;
        }
    
        // Check if Category Name exists
        function isCategoryNameExists(catName) {
            let table = document.getElementById("catTbody");
            for (let i = 0; i < table.rows.length; i++) {
                if (table.rows[i].cells[1].innerHTML === catName) {
                    return true;
                }
            }
            return false;
        }
    
        // Add Category Recipe
        document.getElementById("submitcategory").addEventListener("click", function () {
            let catName = document.getElementById("cat-name").value;
            let desc = document.getElementById("description").value;

            // Fetch existing categories and determine the next category ID
            getAllData().then(category => {
                let maxId = category.reduce((max, item) => Math.max(max, item.catId), 0);
                let catId = maxId + 1;

                let isValid = validateForm(catId, catName, desc, null, "cat-name-error", "description-error");

                // Check if Category Name already exists
                if (isValid) {
                    if (isCategoryNameExists(catName)) {
                        document.getElementById("cat-name-error").innerText = "Category Name already exists.";
                        isValid = false;
                    }
                }

                if (isValid) {
                    set(ref(database, "category/" + catId), {
                        catId: Number(catId),
                        catName: catName,
                        desc: desc
                    }).then(() => {
                        alert("Category Successfully Added!");
                        getAllData(); // Refresh the table data
                        window.location.reload();
                    }).catch((error) => {
                        alert("Failed to add Category!");
                        console.log(error);
                    });

                    const modal = bootstrap.Modal.getInstance(document.getElementById('exampleModal'));
                    modal.hide();
                }
            });
        });
    
        document.getElementById("savechanges").addEventListener("click", function () {
            let catId = document.getElementById("edit-category-id").value;
            let catName = document.getElementById("edit-cat-name").value;
            let desc = document.getElementById("edit-description").value;
    
            let isValid = validateForm(catId, catName, desc, "edit-category-id-error", "edit-cat-name-error", "edit-description-error");
    
            // Check if Category Name already exists
            if (isValid) {
                if (isCategoryNameExists(catName) && catName !== originalCatName) {
                    document.getElementById("edit-cat-name-error").innerText = "Category Name already exists.";
                    isValid = false;
                }
            }
    
            if (isValid) {
                update(ref(database, "category/" + catId), {
                    catId: Number(catId),
                    catName: catName,
                    desc: desc
                }).then(() => {
                    alert("Category Successfully Updated!");
                    getAllData(); // Refresh the table data
                    window.location.reload();
                }).catch((error) => {
                    alert("Failed to update Category!");
                    console.log(error);
                });
    
                const modal = bootstrap.Modal.getInstance(document.getElementById('exampleModal2'));
                modal.hide();
            }
        });
    
        // Validation function
        function validateForm(catId, catName, desc, catIdErrorId, catNameErrorId, descErrorId) {
            let isValid = true;

            if (!catName) {
                document.getElementById(catNameErrorId).innerText = "Category Name is required.";
                isValid = false;
            } else {
                document.getElementById(catNameErrorId).innerText = "";
            }

            if (!desc) {
                document.getElementById(descErrorId).innerText = "Description is required.";
                isValid = false;
            } else {
                document.getElementById(descErrorId).innerText = "";
            }

            return isValid;
        }
    
        // Delete Category Recipe
        function deleteCategory(catId) {
            remove(ref(database, "category/" + catId)).then(() => {
                // Data deleted successfully
                alert("Category Successfully Deleted!");
                getAllData(); // Refresh the table data
            }).catch((error) => {
                alert("Failed to delete Category!");
                console.log(error);
            });
        }
    
        // Add Category Table Item
        function addCatTableItem(uid, catName, desc) {
            let trow = document.createElement("tr");
            let td1 = document.createElement("td");
            let td2 = document.createElement("td");
            let td3 = document.createElement("td");
            let td4 = document.createElement("td");
    
            td1.innerHTML = uid;
            td2.innerHTML = catName;
            td3.innerHTML = desc;
    
            // Create the Edit button
            let editButton = document.createElement("button");
            editButton.innerHTML = "Edit";
            editButton.classList.add("btn-edit");
            editButton.setAttribute("data-bs-toggle", "modal");
            editButton.setAttribute("data-bs-target", "#exampleModal2");
            editButton.onclick = function () {
                document.getElementById("edit-category-id").value = uid;
                document.getElementById("edit-cat-name").value = catName;
                document.getElementById("edit-description").value = desc;
            };
    
            // Create the Delete button
            let deleteButton = document.createElement("button");
            deleteButton.innerHTML = "Delete";
            deleteButton.classList.add("btn-del");
            deleteButton.onclick = function () {
                if (confirm("Are you sure you want to delete this category?")) {
                    deleteCategory(uid); // Call delete function
                    trow.remove(); // This line will remove the row from the table
                }
            };
    
            td4.appendChild(editButton);
            td4.appendChild(deleteButton);
    
            trow.appendChild(td1);
            trow.appendChild(td2);
            trow.appendChild(td3);
            trow.appendChild(td4);
    
            document.getElementById("catTbody").appendChild(trow);
        }
    
        // Add All Categories to Table
        function addAllCatTable(category) {
            document.getElementById("catTbody").innerHTML = "";
            category.forEach(element => {
                addCatTableItem(element.uid, element.catName, element.desc);
            });
        }
    
        // Fetch All Categories from Firebase
        function getAllData() {
            const dbref = ref(database);
            return get(child(dbref, "category")).then((snapshot) => {
                if (snapshot.exists()) {
                    var category = [];
                    snapshot.forEach(childSnapshot => {
                        var cat = childSnapshot.val();
						// Ensure each entry has a UID
						cat.uid = childSnapshot.key;
						category.push(cat);
                    });
                    addAllCatTable(category);
                    return category;
                } else {
                    console.log("No data available");
                    return [];
                }
            }).catch((error) => {
                console.log(error);
                return [];
            });
        }
    
        document.getElementById('search-input').addEventListener('keyup', function () {
            let filter = this.value.toUpperCase();
            let table = document.querySelector('table');
            let tr = table.getElementsByTagName('tr');
    
            for (let i = 1; i < tr.length; i++) {
                let td = tr[i].getElementsByTagName('td');
                let showRow = false;
                for (let j = 0; j < td.length; j++) {
                    if (td[j]) {
                        let txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            showRow = true;
                            break;
                        }
                    }
                }
                if (showRow) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        });
    
        // Initialize Data Fetch
        window.onload = getAllData;
    </script>
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const adminName = localStorage.getItem("adminUsername");
            if (adminName) {
                document.querySelector(".AdminName").textContent = adminName;
            } else {
                alert("No admin logged in.");
                window.location.href = "login";
            }
            document.querySelector(".logout").addEventListener("click", function () {
                localStorage.removeItem("adminUsername");
                window.location.href = "login";
            });
        });
    </script>
</body>

</html>